@font-face {
    font-family: "Outfit-SemiBold";
    src: url("Outfit-SemiBold.ttf") format(truetype);
    font-weight: 600;
}
.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.normal--icon{
    transform: scale(1.45);
    padding: 0;
    margin: 0;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #ECEFF1;
}
.container{
    max-width: 80.5rem;
    margin: 0 auto;
    padding: 1rem;
}
.feedback{
    margin-top: 7.5rem;
}
.wrapper{
    background:
    url("Background_image.svg");
    background-color: #121826;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.header{
    text-align: center;
    font-family: "Outfit-SemiBold";
    padding-top: 1.5rem;
}
.heading_title{
    color: #E5E7EB;
    font-size: 40px;
    max-width: 25rem;
    margin: 0 auto 1.2rem;
}
.heading_small{
    color: #9DA3AE;
    font-size: 14px;
    word-spacing: .2rem;
}

/* section  */
.section{
    margin-top: 1rem;
    padding-bottom: 2rem;
}
.works_items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin: 0 5.8rem;
    font-family: "Outfit-SemiBold";
    font-weight: 400;
}
.works_item{
    background-color: #212936;
    border-radius: 1rem;
    flex-basis: 18rem;
    padding: 1.5rem;
}
.icons{
    background: #FCEED8;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    margin-bottom: 1rem;
}
.icon{
    display: block;
}
.works_title{
    color: #E5E7EB;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    max-width: 17rem;
}
.works_small_title{
    color: #9DA3AE;
    margin-bottom: 1rem;
    max-width: 14rem;
}
.image{
    display: block;
    border-radius: .8rem
}
@media only screen and (max-width: 1280px) {
    .container{
        max-width: 70rem;
    }
    .works_items{
        margin: 0 10rem;
    }
}
@media only screen and (max-width: 1024px) {
    .container{
        max-width: 59rem;
    }
    .works_items{
        margin: 0 2rem;
    }
}
@media only screen and (max-width: 820px) {
    .feedback{
        margin-top: 3.5rem;
    }
    .container{
        max-width: 46rem;
    }
    .works_items{
        margin: 0 auto;
    }
    .works_items{
        gap: 1rem;
        flex-basis: 16rem;
    }
    .icons--small{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .works_title{
        font-size: 1.2rem;
        margin-bottom: .8rem;
    }
    .works_small_title {
        font: 14.5px;
    }
    .image{
        max-width: 15rem;
    }
}
@media only screen and (max-width: 360px) {
    .feedback{
        margin-top: 1.5rem;
    }
    .container{
        max-width: 100%;
        padding: .5rem;
    }
    .heading_title{
        font-size: 27px;
        max-width: 29rem;

    }
    .works_item{
        margin: 1rem 0;
        flex-basis: 100%;
    }
    .image{
        max-width: 100%;
    }
}


